* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  position: relative;
  font-family: "balo";
  word-spacing: 2px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scrollbar-width: 0;
  transition: 0.3s;
  font-size: 18px;
}
a {
  font-size: 22px;
  text-decoration: 1px double underline;
  font-weight: 600;
}
a:hover {
  font-size: 25px;
}
p {
  text-align: justify;
  font-weight: 400;
  font-size: 20px;
  margin: 1% 0;
}
sym {
  font-family: "JetBrainsMono";
}
*::-webkit-scrollbar {
  display: none;
}
body,
div.body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: scroll;
}
logo {
  height: 5vh;
  width: 5vh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
logo img {
  height: 7vh;
  width: 7vh;
  position: relative;
}
h1 {
  padding: 2%;
  width: auto;
  height: auto;
  align-items: center;
  text-align: center;
  font-family: "lato";
  font-weight: 500;
  transition: 1s;
}
h1 a {
  color: inherit;
  text-decoration: none;
  font-family: "lato";
  font-weight: 500;
  transition: 1s;
  font-size: calc(6vh + 10px);
}
h1 a:hover {
  color: rgb(0, 120, 135);
  font-size: calc(10vh + 10px);
  text-shadow: rgba(29, 29, 29, 0.5) 2px 2px 10px;
  -webkit-text-stroke: 0 #333;
  transition: 1s;
}
h2.heading2 {
  text-transform: capitalize;
  margin: 0 0 2% 0;
  font-size: 28px;
}
h3 {
  margin: 2% 0 0 0;
  font-weight: 650;
  text-transform: capitalize;
  font-size: 24px;
}
h4 {
  margin: 1% 0 0 0;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
  font-size: 20px;
}
b.mathlib {
  font-weight: 900;
  font-size: 22px;
  font-style: oblique;
}
.Night h1 a:hover {
  text-shadow: rgba(235, 235, 235, 0.5) 5px 5px 10px, -5px 5px 10px,
    5px -5px 10px, -5px -5px 10px;
  -webkit-text-stroke: 1px rgb(22, 162, 172);
  color: rgb(27, 208, 221);
}
code {
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: space-between;
  color: #fff;
  font-family: "JetBrainsMono";
  letter-spacing: normal;
  font-size: 20px;
  backdrop-filter: brightness(50%);
  padding: 1%;
  padding-left: calc(1% + 10px);
  border-radius: 2vh;
  font-weight: 800;
  font-style: italic;
  transition: 0.3s;
}
code[data-genre="terminal"]::before {
  content: "$";
  padding-left: 5px;
  left: -2px;
  display: flex;
  position: absolute;
}
code:hover,
code.built-in:hover {
  color: #333;
  backdrop-filter: brightness(110%);
}
imp,
code.built-in {
  word-spacing: 3px;
  margin: 1px;
  width: max-content;
  display: inline;
  padding: 0 5px;
  background: #3333;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  font-family: "balo";
  font-size: 18px;
}
.Night code:hover {
  color: #fff;
  backdrop-filter: brightness(50%);
}
.Night code {
  color: #222;
  backdrop-filter: brightness(120%);
}
span.logo {
  font-family: "iconC", "icon";
  font-size: 28px;
  font-weight: 600;
  margin: 1vh;
}
@media screen and (max-width: 770px) {
  h1 a {
    font-size: 6vw;
  }
  h1 a:hover {
    font-size: calc(10vw + 10px);
    transition: 1s;
  }
  logo {
    height: 7vw;
    width: 7vw;
  }
  logo img {
    height: 7vw;
    width: 7vw;
    position: relative;
  }
  code {
    border-radius: 2vw;
  }
  .loader .firstBar,
  .loader .secondBar {
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 255, 255, 0.5),
      -0.5vw 0.5vw 5px rgba(0, 255, 255, 0.5),
      0.5vw -0.5vw 5px rgba(0, 255, 255, 0.5),
      -0.5vw -0.5vw 5px rgba(0, 255, 255, 0.5);
  }
}

/* common area ends */

/* loader */

.body {
  display: none;
}
.loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
}
.loader .firstBar,
.loader .secondBar {
  background-color: cyan;
  position: absolute;
  height: 20vh;
  width: 2.5vh;
  border-radius: 1.25vh;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0, 255, 255, 0.5),
    -0.5vh 0.5vh 10px rgba(0, 255, 255, 0.5),
    0.5vh -0.5vh 10px rgba(0, 255, 255, 0.5),
    -0.5vh -0.5vh 10px rgba(0, 255, 255, 0.5);
}
.loader .firstBar {
  transform: rotate(135deg);
  animation: firstBar 4s cubic-bezier(0.75, 0.05, 0.25, 1) infinite;
}
.loader .secondBar {
  transform: rotate(255deg);
  animation: secondBar 4s cubic-bezier(0.75, 0.05, 0.25, 1) infinite;
}
@keyframes firstBar {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(135deg);
  }
  75% {
    transform: rotateZ(225deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes secondBar {
  0% {
    transform: rotateZ(90deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(225deg);
  }
  75% {
    transform: rotateZ(225deg);
  }
  100% {
    transform: rotateZ(450deg);
  }
}
/* loader ends */

/* fonts */
@font-face {
  font-family: raleway;
  src: url("./fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: Balsam;
  src: url("./fonts/BalsamiqSans-Regular.ttf");
}
@font-face {
  font-family: balo;
  src: url("./fonts/Baloo2-Regular.ttf");
}
@font-face {
  font-family: merri;
  src: url("fonts/Merriweather-Regular.ttf");
}
@font-face {
  font-family: lato;
  src: url("fonts/Lato.ttf");
}
@font-face {
  font-family: JetBrainsMono;
  src: url("fonts/JetBrainsMono.ttf");
}
@font-face {
  font-family: iconC;
  src: url("fonts/Icons-Color.ttf");
}
@font-face {
  font-family: "icon";
  src: url("./fonts/Icons-color2.ttf");
}
/* nightmood */
#nightMood {
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: calc(100% - 75px);
  height: 50px;
  width: 50px;
  z-index: 1000;
  background-position: left;
  background: linear-gradient(90deg, #02aab0 0%, #00cdac 51%, #02aab0 100%);
  opacity: 60%;
}
#nightMood:hover {
  opacity: 100%;
  background-position: right;
  background: linear-gradient(45deg, #02aab0 0%, #00cdac 51%, #02aab0 100%);
}
#nightMood img {
  min-width: 100%;
  min-height: 100%;
}
