div.author {
  padding: 0;
  color: #fff;
  font-family: "lato";
  width: 100%;
  overflow: hidden;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(34, 34, 34, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
  background-image: url("authorBg.jpg");
}
div.author div.text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
}
div.author div.text h2.heading2 {
  width: auto;
  color: #fff;
  font-family: "lato";
  margin: 0%;
  padding: 1%;
  text-align: left;
}
div.author div.text h2.heading2 span.helloWorld {
  font-family: "reliway";
  font-size: 15vh;
  text-transform: capitalize;
  white-space: nowrap;
  text-align: left;
}
div.author div.text h2.heading2 span.iAmMaruf {
  font-family: "reliway";
  font-weight: 400;
  font-size: 5vh;
  text-align: left;
}
div.author div.text section.typing {
  padding: 1%;
  font-size: 5vh;
  display: inline-flex;
  flex-direction: row;
}
div.author div.text section.typing div.typeAnimation {
  overflow: hidden;
  height: 8vh;
  transition: none;
}
div.author div.text section.typing div.typeAnimation ul.list {
  padding-left: 5px;
  list-style: none;
  overflow: hidden;
  transition: none;
  animation: slide 24s steps(4) infinite;
}
div.author div.text section.typing div.typeAnimation ul.list li {
  position: relative;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
  top: 0%;
  transition: none;
}
div.author div.text section.typing div.typeAnimation ul.list li span {
  overflow: hidden;
  transition: none;
  padding: 0% 1%;
}
div.author div.text section.typing div.typeAnimation ul.list li span::before {
  content: attr(data-text);
  position: absolute;
  height: 100%;
  width: auto;
  color: #fff;
  margin: 1% 0%;
  border-right: aqua solid 1px;
  left: 0;
  overflow: hidden;
  animation: typeing 3s steps(var(--i)) infinite;
  transition: none;
}
div.author div.imageBox {
  padding: 1vh;
}
div.author div.imageBox section.container {
  position: relative;
  overflow: hidden;
  width: 40vh;
  height: 48vh;
}
div.author div.imageBox section.container div.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 48vh;
  width: 160vh;
  animation: imageSlide 30s linear infinite;
}
div.author div.imageBox section.container div.slider div.image {
  position: relative;
  height: 48vh;
  width: 40vh;
  float: left;
}
div.author div.imageBox section.container div.slider div.image.img1 {
  background: url("./../website/kpc2021.jpg");
  background-position: center;
  background-size: cover;
}
div.author div.imageBox section.container div.slider div.image.img2 {
  background: url("./../website/authorBg.jpg");
  background-position: center;
  background-size: cover;
}
div.author div.imageBox section.container div.slider div.image.img3 {
  background: url("./../website/MathlibLogo.jpg");
  background-position: center;
  background-size: cover;
}
div.author div.text div.more {
  color: #fff;
  font-size: 3vh;
  position: relative;
  padding-bottom: 1.5vh;
}
div.author div.text div.more a {
  position: relative;
  color: #fff;
  padding: 1vh;
  text-decoration: none;
  border-radius: 1vh;
  border: white 0.3vh groove;
  background: rgb(27, 208, 221);
}
div.author div.text div.more a::after {
  content: ">>";
  color: rgb(27, 208, 221);
  transform: translateX(3vh);
  position: absolute;
}
div.wiki {
  height: auto;
  width: 100%;
  margin: 1% 0%;
  padding: 1%;
  background: rgb(255, 255, 255);
}
div.licence {
  height: auto;
  width: 100%;
  margin: 1% 0%;
  padding: 1%;
  background: rgb(255, 255, 255);
}
div.contact {
  height: auto;
  width: 100%;
  margin: 1% 0%;
  padding: 1%;
  background: rgb(255, 255, 255);
}
div.changeLog {
  height: auto;
  width: 100%;
  margin: 1% 0%;
  padding: 1%;
  background: rgb(255, 255, 255);
}
div.uses {
  height: auto;
  width: 100%;
  margin: 1% 0%;
  padding: 1%;
  background: rgb(255, 255, 255);
}
div.installation {
  height: auto;
  width: 100%;
  margin: 1% 0%;
  padding: 1%;
  background: rgb(255, 255, 255);
}
div.description {
  height: auto;
  width: 100%;
  margin: 1% 0%;
  padding: 1%;
  background: rgb(255, 255, 255);
}
@media screen and (max-width: 770px) {
  div.author {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./authorBg720.jpg");
  }
  div.author div.text h2.heading2 span.helloWorld {
    font-size: 15vw;
  }
  div.author div.text h2.heading2 span.iAmMaruf {
    font-size: 5vw;
  }
  div.author div.text section.typing {
    font-size: 5vw;
  }
  div.author div.text section.typing div.typeAnimation {
    height: 8vw;
  }
  div.author div.text div.more {
    font-size: 3vw;
    padding-bottom: 1.5vw;
  }
  div.author div.text div.more a {
    padding: 1vw;
    border-radius: 1vw;
    border: white 0.3vw groove;
  }
  div.author div.text div.more a::after {
    transform: translateX(3vw);
  }
  div.author div.imageBox {
    width: 100vw;
    padding: 1vw 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.author div.imageBox section.container {
    position: relative;
    overflow: hidden;
    width: 72vw;
    height: 28vw;
  }
  div.author div.imageBox section.container div.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 28vw;
    width: 88vw;
    animation: none;
  }
  div.author div.imageBox section.container div.slider div.image {
    position: relative;
    height: 28vw;
    width: 22vw;
    margin: 1vw;
    float: left;
  }
}
@keyframes typeing {
  0%,
  100% {
    width: 0%;
  }
  45%,
  55% {
    width: 100%;
  }
}
@keyframes slide {
  0%,
  100% {
    top: 0%;
  }
  50% {
    top: -400%;
  }
}
@keyframes imageSlide {
  0% {
    left: 0vh;
  }
  5% {
    left: 0vh;
  }
  15% {
    left: -40vh;
  }
  35% {
    left: -40vh;
  }
  45% {
    left: -80vh;
  }
  65% {
    left: -80vh;
  }
  75% {
    left: -120vh;
  }
  95% {
    left: -120vh;
  }
  100% {
    left: -120vh;
  }
}
