* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "balo";
  font-weight: 100;
  scroll-behavior: smooth;
  transition: 0.5s;
}
div.loader {
  margin: 0;
  padding: 0;
}
.Day {
  height: 100vh;
  width: 100vw;
  background: rgb(255, 255, 255);
  color: rgb(29, 29, 29);
  margin: 1%;
  padding: 1%;
}
.Night {
  background: rgb(29, 29, 29);
  color: rgb(255, 250, 235);
  margin: 1%;
  padding: 1%;
}
b {
  font-weight: 800;
  font-size: 20px;
  padding: 2px;
}
h1 {
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  font-family: "lato";
  font-weight: 500;
  transition: 1s;
}
h1 a {
  color: inherit;
  text-decoration: none;
  font-family: "lato";
  font-weight: 500;
  transition: 1s;
}
h1 a:hover {
  color: rgb(0, 120, 135);
  font-size: calc(10vw + 10px);
  text-shadow: rgba(29, 29, 29, 0.5) 2px 2px 10px;
  -webkit-text-stroke: 0 #333;
  transition: 1s;
}
.Night h1 a:hover {
  text-shadow: rgba(235, 235, 235, 0.5) 5px 5px 10px, -5px 5px 10px,
    5px -5px 10px, -5px -5px 10px;
  -webkit-text-stroke: 1px #333;
  color: rgb(27, 208, 221);
}
@media (min-width: 720px) {
  h1 a {
    font-size: 10vh;
  }
  h1 a:hover {
    font-size: calc(10vh + 10px);
    transition: 1s;
  }
}
ul,
ol {
  padding: 0.5% 2%;
  margin: 0.5% 2%;
}
div {
  width: 96%;
  height: auto;
  margin: 1%;
  padding: 1%;
}
.Night ul,
.Night ol {
  padding: 0.5% 2%;
  margin: 0.5% 2%;
}
.Night div {
  width: 96%;
  height: auto;
  margin: 1%;
  padding: 1%;
}
table {
  background: #ddd;
  color: #333;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
}
.Night table {
  background: #333;
  color: #ddd;
}
table tr {
  background: #ddd;
  color: #333;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: auto;
  border: 1px solid #fffa;
}
.Night table tr {
  background: #333;
  color: #ddd;
}
table tr[data-title="title"] th {
  border: 5px groove #ed6;
}
table tr td {
  padding: 0;
  margin: 0;
}
table tr[data-title="title"] th {
  font-weight: 600;
  font-family: "lato";
  border: 5px groove #ed6;
  background: #ddd;
}
table tr .title {
  height: 100%;
  background: #ddd;
  color: #333;
  width: 20%;
}
.Night .title {
  background: #333;
  color: #ddd;
}
table tr .input {
  height: 100%;
  background: #ddd;
  color: #333;
  width: 50%;
  text-align: left;
}
.Night .input {
  background: #333;
  color: #ddd;
}
table tr .input ul {
  list-style-type: disc;
}
table tr .works {
  height: 100%;
  text-align: left;
  background: #ddd;
  color: #333;
  width: 30%;
}
.Night .works {
  background: #333;
  color: #ddd;
}
#nightMood {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: calc(100% - 75px);
  height: 50px;
  width: 50px;
  z-index: 1000;
  background-color: mediumseagreen;
  opacity: 50%;
}
#nightMood:hover {
  opacity: 100%;
}
#nightMood img {
  min-width: 100%;
  min-height: 100%;
}
